<div class="row top_tiles">
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-users"></i>
            </div>
            <div class="count">4</div>

            <h3>Totales patientes</h3>
            <p>en savoir plus ...</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-comments-o"></i>
            </div>
            <div class="count">3</div>

            <h3>Patientes &agrave; consulter</h3>
            <p>en savoir plus ...</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-sort-amount-desc"></i>
            </div>
            <div class="count">1</div>

            <h3>A consulter aujourd'hui</h3>
            <p>Len savoir plus ...</p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-user-md"></i>
            </div>
            <div class="count">9</div>

            <h3>M&eacute;decins en fonction</h3>
            <p>en savoir plus ...</p>
        </div>
    </div>
</div>