<footer>
    <div class="">
        <p class="pull-right">Tous droits r&eacute;serv&eacute;s <a>{{ "now"|date('Y') }}</a>. |
            <span class="lead"> <i class="fa fa-paw"></i> Sama Carnet</span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>